<h1>Login</h1>
<form id="login-form" action="/login" method="post">
    <label for="emailAddressInput">Email Address:</label>
    <input type="email" id="emailAddressInput" name="emailAddressInput" value="qisheng.xia@outlook.com">
    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInput" name="passwordInput" value="Aa123456@">
    <button type="submit">Login</button>
</form>
{{#if errorMessage}}
{{> error errorMessage=errorMessage statusCode=statusCode}}
{{/if}}
<p id="error" class="error" hidden></p>

<p>Click <a href="/register">here</a> to register!</p>
<script src="/public/js/client_side_validation.js"></script>