<div class="register-container">
    <div class="register-form-container">
        <h1 class="register-title">Create account.</h1>
        <form class="layui-form layui-form-pane" lay-filter="register" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">Username</label>
                <div class="layui-input-block">
                    <input type="text" name="username" placeholder="Username" lay-verify="username" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Email</label>
                <div class="layui-input-block">
                    <input type="email" name="email" placeholder="Email address" lay-verify="email" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Password</label>
                <div class="layui-input-block">
                    <input type="password" name="password" placeholder="Password" lay-verify="password" id="password"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Confirm</label>
                <div class="layui-input-block">
                    <input type="password" name="password2" placeholder="Confirm password" lay-verify="password2"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="background-color: white;">
                <label class="layui-form-label">Role</label>
                <div class="layui-input-block">
                    <input type="radio" name="role" value="admin" title="Admin" checked>
                    <input type="radio" name="role" value="user" title="User">
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="register">Register</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a href="/login" class="register-btn">Already havce an account? Login.</a>
                </div>
            </div>
        </form>
    </div>
    <script>
        const promiseA = Promise.resolve('a')
        promiseA.then((res) => {
            console.log(res)
        }).then((res) => {
            console.log(res)
        })
        const promiseB = Promise.resolve('b')
        promiseB.then((res) => {
            console.log(res)
        })
        promiseB.then((res) => {
            console.log(res)
        })
    </script>
    <script src="/public/js/register.js"></script>
    <style>
        .register-title {
            color: white;
            margin-top: 50px;
            text-align: center;
            margin-bottom: 50px;
        }

        .register-form-container {
            width: 400px;
        }

        .register-container {
            display: flex;
            justify-content: center;
        }

        .register-btn {
            color: white;
        }
    </style>
</div>