<!DOCTYPE html>
<html>
<head>
    <title>Movie Database</title>
</head>
<body>
    <h1>Welcome to Our Movie Database</h1>
    <form action="/search" method="get">
        <input type="text" name="search" placeholder="Search for movies...">
        <button type="submit">Search</button>
    </form>
    <!-- Movie recommendations can be listed here -->
</body>
</html>
